@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body{
  background-color: black;
  color:#fff;
  box-sizing: border-box;

}

.conteiner{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  row-gap: 80px;
}

h1{
  font-family: 'PT Sans';
  font-size: 1.8rem;
  text-shadow: 0.2em 0.15em #5e5e5e88;
  text-align: center;
  padding-top: 10hv;
}

.text{
  padding: 0 40px;
  min-height: 20vh;
  font-size: 1.2rem;
  font-family: 'PT Sans';
  color: #807e7e;
  text-align: center;
  z-index: 2;
}

.boton{
  position: fixed;
  top: 72%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  width: 120px;
  height: 40px;
  border: 3px #010101 solid;
  border-radius: 10px;
  font-family: 'PT Sans';
  color: #000000;
  background-color: #ffffff44;  
}

.rectangulo{
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hojita{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}


/* Aqui empienzan las media cueri */


@media (min-width:769px) {

  .conteiner{
    row-gap: 100px;

  }

  h1{
    font-size: 65px;
    padding-bottom: 10vh;
  }

  .text{
    padding: 0;
    width: 640px;
    height: 320px;
    color: #000000;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .frase{
    font-size: 27px;

  }
  
  .rectangulo{
    width: 650px;

  }

  .hojita{
    height: 270px;
    width: 650px;
  }

  .boton{
    top: 85%;
    height: 65px;
    padding: 7px 14px;
    width: 180px;
    font-size: 20px;
  }

}

 /*medias queris de laptop  */

 /* @media (min-width:991px){




 } */